    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

    img {
        border-radius:20px;
    }
    
    body {
        background-color: white;
        background-image:url("../img/dice1.gif");
        background-size: cover;
    }
    
    #title{
        color: white;
        text-align: center;
        font-size: 3em;
        font-family: 'Baloo Bhaina', cursive;
    }
    
    #desc{
        color: white;
        text-align: center;
        font-size: 2.5em;
    }
    
    #h_score{
        color: #00ff00;
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        width:1300px;   
        margin:0 auto;
        position:absolute;
        top:360px;
        line-height: .7em;
    }
    
    #h_prod{
        color: #00ff00;
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        width:1300px;   
        margin:0 auto;
        position:absolute;
        top:440px;
        line-height: .7em;
    }
    
    #c_score{
        color: #ff0000;
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        width:1300px;   
        margin:0 auto;
        position:absolute;
        top:740px;
        line-height: .7em;
    }
    
    #c_prod{
        color: #ff0000;
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        width:1300px;   
        margin:0 auto;
        position:absolute;
        top:830px;
        line-height: .7em;
    }
    
    br{
      margin:2.5em 0;
      line-height:5em;
    }

    #total_score_h{
        color: white;
        font-size: 2.5em;
        width:600px;
        margin:0 auto;
        position:absolute;
        top:360px;
        line-height: .7em;
    }
    
    #product_h{
        color: white;
        font-size: 2.5em;
        width:600px;
        margin:0 auto;
        position:absolute;
        top:440px;
        line-height: .7em;
    }
    
    #total_score_c{
        color: white;
        font-size: 2.5em;
        width:700px;   
        margin:0 auto;
        position:absolute;
        top:740px;
        line-height: .7em;
    }
    
    #product_c{
        color: white;
        font-size: 2.5em;
        width:700px;
        margin:0 auto;
        position:absolute;
        top:830px;
        line-height: .7em;
    }
    
    #result{
        text-align: center;
        color: white;
        text-decoration: underline;
        font-size: 5em;
        text-shadow: 1px 1px 3px black, 0 0 25px blue, 0 0 5px blue;
    }
    
    #format{
        text-align: center;
    }
    
    #second_format{
        text-align: center;
    }
    
    input{
        font-size:3em;
        border:none;
        font-weight:bold;
        outline: hidden;
        color:black;
        cursor:pointer;
    }
    
    form{
        text-align: center;
    }
    