    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

    img {
        border-radius:20px;
    }
    
    body {
        background-color: white;
        background-image:url("../img/dice1.gif");
        background-size: cover;

        
    }
    
    #title{
        color: white;
        text-align: center;
        font-size: 3em;
        font-family: 'Baloo Bhaina', cursive;
        /*background-color: white;*/
    }
    
    #desc{
        color: white;
        text-align: center;
        font-size: 2.5em;
    }
    
    #h_score{
        color: white;
        text-align: center;
        font-size: 2.5em;
    }
    #c_score{
        color: white;
        text-align: center;
        font-size: 2.5em;
    }
    
    #result{
        text-align: center;
        color: white;
        text-decoration: underline;
        font-size: 5em;
        /*text-shadow: 0 0 3px #FF0000;        */
         /*background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */

    }
    
    #format{
        text-align: center;
    }
    
    #second_format{
        text-align: center;
    }
    /*audio { */
    /*    display:none;*/
    /*}*/
    
    /*#main {*/
    /*    font-family: 'Baloo Bhaina', cursive;*/
    /*    background-image:url("../img/machine.png");*/
    /*    width:600px;*/
    /*    height:500px;*/
    /*    position:relative;*/
    /*    margin:0 auto;*/
    /*}*/
    
    /*#reel1, #reel2, #reel3 {*/
    /*    top:248px;*/
    /*    position:absolute;*/
    /*}*/
    
    /*#reel1{*/
    /*    left:145px;*/
    /*}*/
    /*#reel2{*/
    /*    left:252px;*/
    /*}*/
    /*#reel3{*/
    /*    left:357px;*/
    /*}*/
    
    input{
        font-size:3em;
        border:none;
        font-weight:bold;
        outline: hidden;
        color:black;
        cursor:pointer;
    }
    form{
        text-align: center;
    }
    /*#output{*/
    /* width:600px;   */
    /* margin:0 auto;*/
    /* position:absolute;*/
    /* text-align:center;*/
    /* top:450px;*/
    /* font-size:1.5em;*/
    /* line-height: .7em;*/
    /*}*/
    
    /*footer{*/
    /*    font-family: "Times New Roman", Georgia, Serif;*/
    /*    font-size:.8em;*/
    /*    width:600px;*/
    /*    margin:0 auto;*/
    /*    padding-top:10px;*/
    /*}*/